<div class="row" align="center">
  <div class="card blue-grey darken-1 log-in">
    <div class="card-content white-text">
    <h1>Entrar</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


      <div class="input-field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'validate' %>
      </div>

      <div class="input-field">
        <%= f.label :Contraseña %>
        <%= f.password_field :password, autocomplete: "off", class: 'validate' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me, id: "test5" %>
          <%= f.label :recuerdame, for: "test5"  %>
        </div>
      <% end -%>

        <%= f.submit "Ingresa", class: 'btn waves-effect waves-light' %>
        
    <% end %>
            <div class="devise-links">
            <%= render "devise/shared/links" %>
            </div>
    </div>
  </div>
</div>